/*  TEXTS */

/* Texts */

p {
  line-height: var(--line-height-text);
}

/* Line-height desktop and mobile */
/* font-size-1 27px */
/* font-size-2 24px */
/* font-size-3 21px */
/* font-size-4 18px */

strong,
b {
  font-weight: var(--font-weight-bold);
}

em,
i {
  font-style: italic;
}

del {
  text-decoration-line: line-through;
  text-decoration-thickness: var(--border);
}

/* Headings */

h1,
.h1 {
  font-size: calc(var(--font-size-base) * 3.75); /* 60px */
  line-height: 1.25; /* desktop 75px / mobile 50px */
}
h2,
.h2 {
  font-size: calc(var(--font-size-base) * 2.375); /* 38px */
  line-height: 1.3; /* desktop 49.4px / mobile 41.6px */
}
h3,
.h3 {
  font-size: calc(var(--font-size-base) * 1.875); /* 30px */
  line-height: 1.35; /* desktop 40.5px / mobile 35.1px */
}
h4,
.h4 {
  font-size: calc(var(--font-size-base) * 1.5); /* 24px */
  line-height: 1.4; /* desktop 33.6px / mobile 30.8px */
}
h5,
.h5 {
  font-size: calc(var(--font-size-base) * 1.25); /* 20px */
  line-height: 1.45; /* desktop 29px / mobile 29px */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-code);
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter {
  text-transform: uppercase;
}

/* Margins */

.block * + p,
.block--markdown * + ul,
.block--markdown * + ol {
  margin-top: var(--margin-text); /* 0.5em */
}

/* Margin-text desktop and mobile */
/* font-size-1 9px */
/* font-size-2 8px */
/* font-size-3 7px */
/* font-size-4 6px */

.block * + h1,  /* desktop 90px / mobile 60px */
.block * + h2,  /* desktop 57px / mobile 48px */
.block * + h3,  /* desktop 45px / mobile 39px */
.block * + h4,  /* desktop 36px / mobile 33px */
.block * + h5   /* desktop 30px / mobile 30px */ {
  margin-top: var(--margin-heading); /* 1.5em */
}

.block h1:not(:last-child),  /* desktop 30px / mobile 20px */
.block h2:not(:last-child),  /* desktop 19px / mobile 16px */
.block h3:not(:last-child),  /* desktop 15px / mobile 13px */
.block h4:not(:last-child),  /* desktop 12px / mobile 11px */
.block h5:not(:last-child)   /* desktop 10px / mobile 10px */ {
  margin-bottom: var(--margin-text); /* 0.5em */
}

/* Cursors */

h1,
h2,
h3,
h4,
h5,
p {
  cursor: text;
}

/* Blockquotes */

blockquote {
  margin: var(--margin-block-edit) var(--block-padding); /* 12px 24px */
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
}

blockquote p {
  font-size: inherit;
}

blockquote:first-child p:first-child {
  margin-top: 0;
}

cite {
  font-size: inherit;
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
}

/* Lists */

.block--markdown ul,
.block--markdown ol {
  margin-left: var(--block-padding); /* 24px */
  line-height: var(--line-height-list); /* 24.75px */
}

/* Line-height list desktop and mobile */
/* font-size-1 24.75px */
/* font-size-2 22px */
/* font-size-3 19.25px */
/* font-size-4 16.5px */

.block--markdown ul li,
.block--markdown ol li {
  margin-top: var(--margin-list); /* 4.5px */
  padding-left: var(--margin-text); /* 9px */
}

/* Margin-list desktop and mobile */
/* font-size-1 4.5px */
/* font-size-2 4px */
/* font-size-3 3.5px */
/* font-size-4 3px */

.block--markdown ul li {
  list-style-type: square;
}

.block--markdown ol li {
  list-style-type: decimal;
}

.block--markdown ol li::marker {
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-2);
  white-space: normal;
}

/* Codes */

pre,
code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
  background-color: rgba(var(--color-primary-rgb), 0.1);
  padding: 0.2em 0.4em;
}

/* Lines */

hr {
  color: var(--color-primary);
  height: var(--border);
  background: var(--color-primary);
  border: var(--border);
}

.block * + hr {
  margin: var(--block-padding) 0;
}

hr:first-child {
  margin-bottom: var(--block-padding);
}

hr:last-child {
  margin-bottom: 0;
}

/* MOBILE */

/* Headings */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  h1 {
    font-size: calc(var(--font-size-base) * 2.5); /* 40px */
  }
  h2 {
    font-size: calc(var(--font-size-base) * 2); /* 32px */
  }
  h3 {
    font-size: calc(var(--font-size-base) * 1.625); /* 26px */
  }
  h4 {
    font-size: calc(var(--font-size-base) * 1.375); /* 22px */
  }
  h5 {
    font-size: calc(var(--font-size-base) * 1.25); /* 20px */
  }
}
