/* LINKS */

.block a {
  color: var(--color-accent);
}

.block a[target]::after,
.block a[href]::after {
  display: inline-block;
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-regular);
  margin-left: calc(var(--margin-text) / 1.25);
}

.block--image a[target]::after,
.block--image a[href]::after,
.block--representative__list-linked-spaces a[target]::after,
.block--representative__list-linked-spaces a[href]::after {
  margin-left: calc(var(--margin-text) / 1.5);
}

.block--markdown p a[target]::after,
.block--markdown p a[href]::after,
.block--markdown ul a[target]::after,
.block--markdown ul a[href]::after,
.block--representative_introduction a[target]::after,
.block--representative_introduction a[href]::after {
  margin-left: calc(var(--margin-text) / 2.5);
}

.block a:not(.no-arrow):after {
  content: '→';
}

.block a[target]:not(.no-arrow):after {
  content: '↗︎';
}

/* Hover */

.block a:hover {
  text-decoration-line: underline;
  text-underline-offset: 21.25%;
  text-decoration-thickness: 0.07em;
}

/* Cursor */

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  /* -webkit-text-fill-color: inherit; */
}
