/* BUTTONS */
/* ajouter line-height 0 aux buttons */

.btn-height {
  /* ? */
  height: var(--height-btn);
}

button,
label,
.btn,
::file-selector-button,
::-webkit-file-upload-button {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-code);
  background: var(--color-secondary);
  padding: 0 var(--padding-btn);
  height: var(--height-btn);
  width: max-content;
}

button,
span,
::file-selector-button,
::-webkit-file-upload-button {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-2);
  text-transform: lowercase;
}

.btn--icon {
  width: var(--height-btn);
  padding: 0;
  align-items: center;
}

.btn:not(.flex-col) .icon + * {
  margin-left: 0.5em;
}

.btn.flex-col .icon + * {
  margin-top: 0.5em;
}

button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Buttons */

.lock-active,
.lock-active button,
button.active,
.menu .active,
.inputWrapper.active,
.line.active .index__category.active,
::file-selector-button,
::-webkit-file-upload-button {
  background-color: var(--color-primary);
  color: var(--color-secondary) !important;
}

.line:hover > li > button,
.line:hover > li > button > a,
label:hover,
button:not(.off, .no-hover, [disabled]):hover,
button:not(.no-hover, [disabled]):hover + span,
.full__button:hover,
.inputWrapper:hover,
::file-selector-button:hover,
.selected,
#markdown:not(h1, h2, h3, h4, h5, p):hover {
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
  background-color: var(--color-accent) !important;
  color: var(--color-secondary) !important;
  cursor: pointer;
  z-index: 3;
}

.menu li:hover > .wrapper,
.menu li:hover > .wrapper > button,
.menu li:hover > .wrapper > span {
  border-color: var(--color-primary);
  outline-color: var(--color-primary);
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  cursor: pointer;
  z-index: 3;
}

.menu li:hover > .wrapper.hover,
.menu li:hover > .wrapper.hover > button,
.menu li:hover > .wrapper.hover > span {
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
  background-color: var(--color-accent) !important;
  color: var(--color-secondary) !important;
}

.line:hover,
.border:hover {
  position: relative;
  z-index: var(--z-index-edit);
}

button[disabled] {
  cursor: not-allowed;
}

/* Blocks options */

/* Use for selected block buttons */
.flex {
  display: flex;
}

#md-buttons,
#edit-buttons--left {
  position: absolute;
  left: 0;
  z-index: var(--z-index-edit);
}

/* Quick fix. */
.block--selected #edit-buttons--left {
  left: -1px;
}

#md-buttons {
  top: calc(
    0px - calc(var(--height-btn) + var(--margin-block-edit))
  ); /* -48px */
  text-transform: capitalize;
}

#edit-buttons--left {
  bottom: calc(
    0px - calc(var(--height-btn) + var(--margin-block-edit))
  ); /* -48px */
}

#bold {
  font-weight: var(--font-weight-bold);
  text-transform: inherit;
}

#italic {
  font-style: italic;
  text-transform: inherit;
}

#note {
  display: none;
  visibility: collapse;
  /* letter-spacing: -2px; */
}

symbol > #icon-link #quote {
  letter-spacing: 2px;
}

#markdown {
  color: var(--color-primary);
}

.warn {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

/* Input */

.input-file {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
  width: 100%;
  padding: var(--block-padding);
}

::file-selector-button,
::-webkit-file-upload-button {
  display: inline-block;
  margin-right: var(--block-padding);
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  button,
  ::file-selector-button,
  ::-webkit-file-upload-button {
    height: var(--height-btn-mobile);
    font-size: var(--font-size-1);
    padding: 0 var(--padding-btn-mobile);
  }

  button a {
    display: block;
    height: auto;
  }
}
