<template>
  <li>
    <span
      class="wrapper"
      @mouseover="viewfinderBtnStore.setHoverColor"
      @mouseleave="viewfinderBtnStore.unsetHoverColor"
    >
      <button
        class="text-2 border"
        title="Modifier la mise en page."
        tabindex="-1"
      >
        composition
      </button>

      <span class="menu__arrow | text-2 border" tabindex="-1">{{
        positionInViewfinder === 'left' ? '->' : '<-'
      }}</span>
    </span>
    <form action="">
      <ul>
        <li v-for="layout in layouts" @click="delayedClose">
          <span
            class="wrapper"
            @mouseover="viewfinderBtnStore.setHoverColor"
            @mouseleave="viewfinderBtnStore.unsetHoverColor"
          >
            <label
              :class="selectedLayout === layout.value ? 'active' : false"
              :title="'Activer la composition ' + layout.label + '.'"
              class="| border text-2"
              :for="layout.value"
            >
              {{ layout.label }}
            </label>
            <input
              type="radio"
              v-model="selectedLayout"
              name="composition"
              :id="layout.value"
              :value="layout.value"
              @change="selectedLayout = layout.value"
            />
          </span>
        </li>
      </ul>
    </form>
  </li>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useViewStore } from '../../../stores/viewStore.js';
import { useViewfinderStore } from '../../../stores/viewfinder/viewfinderStore';
import { useViewfinderBtnStore } from '../../../stores/viewfinder/viewfinderBtnStore';

const { positionInViewfinder } = defineProps({
  positionInViewfinder: String,
});

// data
const layouts = [
  {
    label: 'libre',
    value: 'free',
  },
  {
    label: 'verticale',
    value: 'vertical',
  },
  {
    label: 'horizontale',
    value: 'horizontal',
  },
  {
    label: 'diaporama',
    value: 'full',
  },
];

// stores
const { selectedLayout } = storeToRefs(useViewStore());
const viewfinderBtnStore = useViewfinderBtnStore();
const { isViewfinderActive } = storeToRefs(useViewfinderStore());

// methods
function delayedClose() {
  setTimeout(() => {
    isViewfinderActive.value = false;
  }, 10);
}
</script>

<style lang="scss" scoped></style>
