<template>
  <ul class="menu" :class="positionInViewfinder">
    <li>
      <span
        @click="tuneStore.isOpen = !tuneStore.isOpen"
        class="wrapper"
        @mouseover="viewfinderBtnStore.setHoverColor"
        @mouseleave="viewfinderBtnStore.unsetHoverColor"
      >
        <button
          class="| text-2 border lock-active"
          title="Régler l'affichage du site."
        >
          régler
        </button>
        <span class="menu__arrow | text-2 border lock-active" tabindex="0">{{
          positionInViewfinder === 'left' ? '->' : '<-'
        }}</span>
      </span>
      <ul v-if="tuneStore.isOpen" class="lock-visible--flex">
        <Composition :positionInViewfinder="positionInViewfinder"></Composition>
      </ul>
    </li>
  </ul>
</template>

<script setup>
import { useTuneStore } from '../../../stores/viewfinder/tuneStore.js';
import { useViewfinderBtnStore } from '../../../stores/viewfinder/viewfinderBtnStore';
import Composition from './Composition.vue';

const viewfinderBtnStore = useViewfinderBtnStore();
const tuneStore = useTuneStore();

// Can be left or right
const positionInViewfinder = 'top right';
</script>

<style lang="scss" scoped></style>
