<template>
  <li>
    <span
      class="wrapper"
      @mouseover="setHoverColor"
      @mouseleave="unsetHoverColor"
    >
      <button
        class="text-2 border"
        tabindex="-1"
        title="Ajouter un type de bloc à la page actuelle."
      >
        ajouter
      </button>

      <span class="menu__arrow | text-2 border" tabindex="-1">&lt;-</span>
    </span>
    <ul>
      <template v-for="blockType in blocksTypes" :key="blockType.label">
        <li>
          <span
            class="wrapper"
            @mouseover="setHoverColor"
            @mouseleave="unsetHoverColor"
          >
            <button
              class="text-2 | border prevent-unselect"
              @click="create(blockType.type)"
              :title="'Ajouter un bloc ' + blockType.label + '.'"
            >
              {{ blockType.label }}
            </button>
          </span>
        </li>
      </template>
    </ul>
  </li>
</template>

<script setup>
import { storeToRefs } from "pinia"
import { useUserStore } from "../../../stores/userStore.js"
import { useViewfinderBtnStore } from "../../../stores/viewfinder/viewfinderBtnStore.js"
import { useModifyStore } from "../../../stores/viewfinder/modifyStore.js"
import { useBlockStore } from "../../../stores/blocks/blockStore.js"

// stores
const { setHoverColor, unsetHoverColor } = useViewfinderBtnStore()
const { isLog } = useUserStore()
const { isOpen } = storeToRefs(useModifyStore())
const { blocksTypes, createBlock } = useBlockStore()

// methods
function create(type) {
  const newBlockPos = setNewBlockPos(type)
  const newBlockConfig = {
    type,
    left: newBlockPos.x,
    top: newBlockPos.y,
  }
  createBlock(newBlockConfig)
  isOpen.value = false
}

function setNewBlockPos(type) {
  const blockType = blocksTypes.find((blockType) => blockType.type === type)

  const newBlockHeight = blockType.design.height
  const halfBlockHeight = newBlockHeight / 2
  const halfViewHeight = window.innerHeight / 2

  const newBlockWidth = blockType.design.width
  const halfBlockWidth = newBlockWidth / 2
  const halfViewWidth = window.innerWidth / 2

  const XCenterPos = window.scrollX + (halfViewWidth - halfBlockWidth)
  const YCenterPos = window.scrollY + (halfViewHeight - halfBlockHeight)

  const newBlockpos = {
    x: XCenterPos,
    y: YCenterPos,
  }

  return newBlockpos
}
</script>

<style lang="scss" scoped></style>
