<template>
  <ul class="menu bottom right">
    <li>
      <span
        @click="isOpen = !isOpen"
        class="wrapper"
        @mouseover="setHoverColor"
        @mouseleave="unsetHoverColor"
      >
        <button
          class="| text-2 border lock-active"
          title="Éditer la page actuelle. Vos modifications sont privées."
        >
          éditer
        </button>
        <span class="menu__arrow | text-2 border lock-active" tabindex="0"
          >&lt;-</span
        >
      </span>
      <ul v-if="isOpen" class="lock-visible--flex">
        <Add v-if="selectedLayout !== 'full'"></Add>
        <li>
          <span
            class="wrapper"
            @mouseover="setHoverColor"
            @mouseleave="unsetHoverColor"
          >
          </span>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useModifyStore } from '../../../stores/viewfinder/modifyStore.js';
import { useViewfinderBtnStore } from '../../../stores/viewfinder/viewfinderBtnStore.js';
import { useViewStore } from '../../../stores/viewStore.js';
import { useBlockStore } from '../../../stores/blocks/blockStore.js';
import Add from './Add.vue';

// stores
const { isOpen } = storeToRefs(useModifyStore());
const { setHoverColor, unsetHoverColor } = useViewfinderBtnStore();
const { selectedLayout } = storeToRefs(useViewStore());
const { localBlocks, serverBlocks } = useBlockStore();

// methods
function reset() {
  localBlocks.value = serverBlocks.value;
  selectedLayout.value = 'free';
  isOpen.value = false;
}
</script>

<style lang="scss" scoped></style>
