<template>
  <div
    class="block block--edited | absolute force-front"
    :class="{ front: block.isNew }"
    :style="
      'width: ' +
      block.content.width +
      '; ' +
      'height: ' +
      block.content.height +
      '; ' +
      'transform: ' +
      block.content.transform +
      '; '
    "
  >
    <MarkdownBtns
      v-if="block.type === 'markdown'"
      :block="block"
    ></MarkdownBtns>

    <textarea
      v-if="block.type === 'markdown'"
      v-model="block.content.text"
      ref="textarea"
      class="block--markdown | autoExpand prevent-unselect"
      placeholder="Écrire du texte..."
    />
    <textarea
      v-if="block.type === 'code'"
      v-model="block.content.code"
      ref="textarea"
      class="block--code | autoExpand prevent-unselect"
      placeholder="Écrire du code..."
    />

    <EditBtns :block="block"></EditBtns>
  </div>
</template>

<script setup>
import { onMounted } from 'vue';
import EditBtns from './EditBtns.vue';
import MarkdownBtns from './MarkdownBtns.vue';

const props = defineProps({
  block: Object,
});

onMounted(() => {
  const textArea = document.querySelector('textarea');
  if (textArea) textArea.focus();
});
</script>

<style scoped>
textarea {
  width: calc(100% - var(--border) * 2);
}
</style>
