<template>
  <div id="edit-buttons--left" class="| flex prevent-unselect">
    <button
      v-if="isEditingABlock && block.type !== 'image'"
      id="valid"
      class="| border border--blue prevent-unselect"
      title="Valider le bloc."
      @click="validEdition"
    >
      valider
      <span class="sr-only">valider</span>
    </button>
    <button
      v-if="isEditingABlock && block.isEdited && block.type !== 'image'"
      id="cancel"
      class="| border border--blue prevent-unselect"
      title="Annuler l'action."
      @click="cancelEdition"
    >
      annuler
      <span class="sr-only">annuler</span>
    </button>
    <button
      v-if="
        !isEditingABlock &&
        block.type === 'markdown' &&
        selectedBlocks.length < 2
      "
      id="edit"
      class="| border border--blue prevent-unselect"
      title="Éditer le bloc. Vos modifications sont privées."
      @click="block.isEdited = true"
    >
      éditer
      <span class="sr-only">éditer</span>
    </button>
    <button
      v-if="!isEditingABlock"
      id="duplicate"
      class="| border border--blue prevent-unselect"
      title="Dupliquer le bloc. Vos modifications sont privées."
      @click="duplicateSelectedBlocks"
    >
      dupliquer
      <span class="sr-only">dupliquer</span>
    </button>
    <button
      v-if="block.type !== 'representative' && !isEditingABlock"
      id="remove"
      class="| border border--blue prevent-unselect"
      title="Supprimer le bloc."
      @click="removeSelectedBlocks"
    >
      supprimer
      <span class="sr-only">supprimer</span>
    </button>
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useBlockStore } from '../../../stores/blocks/blockStore.js';
import { onMounted, onBeforeUnmount } from 'vue';

const props = defineProps({
  block: Object,
});

// state
const initialText =
  props.block.type === 'text' || props.block.type === 'markdown'
    ? props.block.content.text
    : props.block.content.code;

// stores
const { isEditingABlock, selectedBlocks } = storeToRefs(useBlockStore());
const {
  removeSelectedBlocks,
  duplicateSelectedBlocks,
  unselectBlocks,
  getBlockById,
  removeBlockById,
} = useBlockStore();

// shortcuts
onMounted(() => {
  document.addEventListener('keydown', keyShortcuts);
});
onBeforeUnmount(() => {
  document.removeEventListener('keydown', keyShortcuts);
});

// methods
function keyShortcuts(event) {
  if (event.target.tagName === 'INPUT') return;

  if (event.key === 'Backspace' && !props.block.isEdited)
    removeBlockById(props.block.id);
  if (event.key === 'Escape') cancelEdition();
  if ((event.ctrlKey || event.metaKey) && event.key === 'Enter') validEdition();
}

function validEdition() {
  props.block.isEdited = false;
  props.block.isSelected = false;
}

function cancelEdition() {
  if (initialText.length === 0) {
    removeBlockById(props.block.id);
  } else {
    if (props.block.type === 'text' || props.block.type === 'markdown') {
      props.block.content.text = initialText;
    } else {
      props.block.content.code = initialText;
    }
    props.block.isEdited = false;
    props.block.isSelected = false;
  }
}
</script>
