<template>
  <div id="md-buttons" class="| flex prevent-unselect">
    <button
      id="bold"
      class="btn btn--icon border border--blue"
      title="Mette le texte en gras (ctrl/cmd + b)."
      @click.prevent="insert('bold')"
    >
      B
      <span class="sr-only">Mettre le texte en gras (ctrl/cmd + b).</span>
    </button>
    <button
      id="italic"
      class="btn btn--icon border border--blue"
      title="Mettre le texte en italique (ctrl/cmd + i)."
      @click.prevent="insert('italic')"
    >
      I
      <span class="sr-only">Mettre le texte en italique (ctrl/cmd + i).</span>
    </button>
    <button
      id="link"
      class="btn btn--icon border border--blue"
      title="Insérer un lien (ctrl/cmd + k)."
      @click.prevent="insert('link')"
    >
      <svg class="icon"><use xlink:href="#icon-link"></use></svg>
      <span class="sr-only">Insérer un lien (ctrl/cmd + k).</span>
    </button>
    <button
      id="code"
      class="btn btn--icon border border--blue"
      title="Mettre le texte sous forme de code."
      @click.prevent="insert('code')"
    >
      &lt;/&gt;
      <span class="sr-only">Mettre le texte sous forme de code.</span>
    </button>
    <button
      id="quote"
      class="btn btn--icon border border--blue"
      title="Insérer une citation."
      @click.prevent="insert('quote')"
    >
      «»
      <span class="sr-only">Insérer une citation.</span>
    </button>
    <button
      id="note"
      class="btn btn--icon border border--blue"
      title="Insérer une note en créant un nouveau bloc texte."
      @click.prevent="insert('note')"
    >
      [1]
      <span class="sr-only"
        >Insérer une note en créant un nouveau bloc texte.</span
      >
    </button>
    <a
      id="markdown"
      class="btn btn--icon border border--blue | no-arrow"
      title="Ouvrir l'aide Markdown."
      href="https://duckduckgo.com/?t=ffab&q=markdown+cheatsheet&atb=v243-1&ia=answer&iax=1"
      target="_blank"
    >
      <svg class="icon"><use xlink:href="#icon-markdown"></use></svg>
      <span class="sr-only">Ouvrir l'aide Markdown.</span>
    </a>
  </div>
</template>

<script setup>
import { useBlockStore } from '../../../stores/blocks/blockStore.js';
import { useUtilStore } from '../../../stores/utilStore.js';

// props
const props = defineProps({
  block: Object,
});

// stores
const { getElementOffset } = useUtilStore();
const { createBlock } = useBlockStore();

// shortcuts
document.addEventListener('keydown', (event) => {
  if ((event.ctrlKey || event.metaKey) && event.key === 'b') {
    event.preventDefault();
    insert('bold');
  }
  if ((event.ctrlKey || event.metaKey) && event.key === 'i') {
    event.preventDefault();
    insert('italic');
  }
  if ((event.ctrlKey || event.metaKey) && event.key === 'k') {
    event.preventDefault();
    insert('link');
  }
});

// methods
function insert(btn, stringToInsert = null) {
  let syntax;
  let selectionStart;

  switch (btn) {
    case 'custom':
      syntax = '';
      selectionStart = 0;
      break;
    case 'bold':
      syntax = `****`;
      selectionStart = 2;
      stringToInsert = 'écrivez ici';
      break;
    case 'italic':
      syntax = `__`;
      selectionStart = 1;
      stringToInsert = 'écrivez ici';
      break;
    case 'link':
      syntax = `[](https://)`;
      selectionStart = 1;
      stringToInsert = 'écrivez ici';
      break;
    case 'code':
      syntax = `\`\``;
      selectionStart = 1;
      stringToInsert = 'écrivez ici';
      break;
    case 'quote':
      syntax = `> `;
      selectionStart = 2;
      stringToInsert = 'écrivez ici';
      break;
    case 'note':
      syntax = '[]';
      selectionStart = 1;
      stringToInsert = this.noteIndex;
      createNoteBlock();
      break;
  }

  // Current Selection
  const textarea = document.querySelector('textarea');
  const currentSelectionStart = textarea.selectionStart;
  const currentSelectionEnd = textarea.selectionEnd;
  const currentText = textarea.value;
  const selectionEnd = selectionStart + stringToInsert.length;

  const selection = {
    btn,
    textarea,
    currentText,
    currentSelectionStart,
    currentSelectionEnd,
    stringToInsert,
    syntax,
    selectionStart,
    selectionEnd,
  };

  const isSelectedText = currentSelectionStart !== currentSelectionEnd;
  if (isSelectedText) {
    markSelectedText(selection);
  } else {
    insertEmptyMarkup(selection);
  }
  // Update props.block.content.text
  setTimeout(() => {
    props.block.content.text = textarea.value;
  }, 100);
}

function createNoteBlock() {
  const field = document.querySelector('textarea');
  const container = document.querySelector('.blocks');
  const fieldWidth = parseInt(
    window.getComputedStyle(field).getPropertyValue('width')
  );
  const fieldX = getElementOffset(field).left;
  const fieldY = getElementOffset(field).top;
  const containerX = getElementOffset(container).left;
  const containerY = getElementOffset(container).top;
  const gridGap = 10;
  const noteTranslateX = fieldX - containerX + (fieldWidth + gridGap);
  const noteTranslateY = fieldY - containerY;
  const noteId = Date.now().toString();

  const newBlock = {
    type: 'text',
    ref: noteId,
    id: this.block.id,
    left: noteTranslateX,
    top: noteTranslateY,
    text: `[${noteIndex}]`,
  };
  createBlock(
    newBlock.type,
    newBlock.ref,
    newBlock.id,
    newBlock.left,
    newBlock.top,
    newBlock.text
  );
  addRef(newBlock.ref);
}

function markSelectedText(selection) {
  if (selection.btn === 'link')
    selection.syntax = `[](entrez une url ou sélectionnez un bloc)`;

  const selectedText = selection.currentText.substring(
    selection.currentSelectionStart,
    selection.currentSelectionEnd
  );
  const withoutSelection =
    selection.currentText.substring(0, selection.currentSelectionStart) +
    selection.currentText.substring(selection.currentSelectionEnd);
  const textWithSyntax =
    withoutSelection.substring(0, selection.currentSelectionStart) +
    selection.syntax +
    withoutSelection.substring(selection.currentSelectionStart);

  // Surround selected text
  if (selection.btn === 'custom') {
    selection.textarea.value =
      textWithSyntax.substring(
        0,
        selection.currentSelectionStart + selection.selectionStart
      ) +
      selection.stringToInsert +
      textWithSyntax.substring(
        selection.currentSelectionStart + selection.selectionStart
      );
  } else {
    selection.textarea.value =
      textWithSyntax.substring(
        0,
        selection.currentSelectionStart + selection.selectionStart
      ) +
      selectedText +
      textWithSyntax.substring(
        selection.currentSelectionStart + selection.selectionStart
      );
  }

  selection.textarea.focus();

  if (selection.btn === 'link') {
    const selectionStart =
      selection.currentSelectionStart +
      '['.length +
      selectedText.length +
      ']('.length;

    selection.textarea.selectionStart = selectionStart;

    selection.textarea.selectionEnd =
      selectionStart + 'entrez une url ou sélectionnez un bloc'.length;

    getAction().then((target) => {
      const block = target.closest('.block');
      if (target.closest('.block')) {
        const anchorUrl = `#${block.id}`;
        insert('custom', anchorUrl);
      }
    });
  } else {
    if (selection.btn === 'custom') {
      selection.textarea.selectionEnd =
        selection.currentSelectionStart + selection.stringToInsert.length + 1;
    } else {
      selection.textarea.selectionEnd =
        selection.currentSelectionEnd + selection.syntax.length;
    }
  }
}

function addRef(refId) {
  props.block.content.refs +=
    props.block.content.refs.length === 0 ? refId : `, ${refId}`;
}

async function getAction() {
  return new Promise((resolve) => {
    const handleClick = (e) => {
      document.removeEventListener('click', handleClick);
      document.removeEventListener('keydown', handleClick);
      resolve(e.target);
    };

    // REQUIRED TIMER
    setTimeout(() => {
      document.addEventListener('click', handleClick);
      document.addEventListener('keydown', handleClick);
    }, 0);
  });
}

function noteIndex() {
  let noteIndex = 1;
  const regex = /\[([0-9+])\]/gm;
  const indexes = props.block.content.text.matchAll(regex);
  const array = Array.from(indexes);
  if (array.length === 0) return 1;
  const lastIndexGroup = array.pop();
  const lastIndex = parseInt(lastIndexGroup.pop());
  noteIndex = lastIndex + 1;

  return noteIndex;
}

function insertEmptyMarkup(selection) {
  if (selection.btn === 'link') selection.syntax = `[](https://)`;

  const textWithSyntax = (selection.textarea.value =
    selection.currentText.substring(0, selection.currentSelectionStart) +
    selection.syntax +
    selection.currentText.substring(selection.currentSelectionEnd));

  selection.textarea.value =
    textWithSyntax.substring(
      0,
      selection.currentSelectionStart + selection.selectionStart
    ) +
    selection.stringToInsert +
    textWithSyntax.substring(
      selection.currentSelectionStart + selection.selectionStart
    );

  selection.textarea.focus();
  selection.textarea.setSelectionRange(
    selection.currentSelectionStart + selection.selectionStart,
    selection.currentSelectionEnd + selection.selectionEnd
  );
}

// uncomment if @click.prevent doesn't work
// function preventDeselect(e) {
//   e = e || window.event
//   e.preventDefault()
// }
</script>

<style lang="scss" scoped></style>
