<template>
  <section id="blocks" ref="blocksNode" class="dragscroll" :class="layout">
    <BlocksSequence
      v-if="selectedLayout === 'vertical' || selectedLayout === 'full'"
    />
    <template v-for="(block, index) in localBlocks" :key="block.id">
      <BlockWrapper
        v-if="
          (selectedLayout !== 'full' || index === slideIndex) &&
          !block.isHidden &&
          (isDesktop || block.content.isdesktoponly !== 'true')
        "
        :block="block"
      ></BlockWrapper>
    </template>
  </section>
</template>

<script setup>
import BlockWrapper from './BlockWrapper.vue';
import BlocksSequence from './sequence/BlocksSequence.vue';
import { storeToRefs } from 'pinia';
import { useBlockStore } from '../../stores/blocks/blockStore.js';
import { useViewStore } from '../../stores/viewStore.js';
import interact from 'interactjs';
import { onMounted, ref } from 'vue';
import { useViewfinderStore } from '../../stores/viewfinder/viewfinderStore';
import { useContextMenuStore } from '../../stores/contextMenuStore';
import { useUserStore } from '../../stores/userStore';

const { getBlockById, selectAllBlocks, unselectBlocks } = useBlockStore();
const { localBlocks } = storeToRefs(useBlockStore());

const { setSpaceSize } = useViewStore();
const { selectedLayout, slideIndex, isDesktop } = storeToRefs(useViewStore());
const { isViewfinderActive } = storeToRefs(useViewfinderStore());
const contextMenu = useContextMenuStore();
const { isLog } = storeToRefs(useUserStore());

const blocksNode = ref(null);

onMounted(() => {
  if (isLog.value) {
    setInteract();
    window.addEventListener('click', (event) => {
      contextMenu.isOpen = false;
      if (event.target.classList.contains('grid')) {
        unselectBlocks();
        isViewfinderActive.value = false;
      }
    });

    // shortcuts
    window.addEventListener('keydown', (event) => {
      if (event.key === 'Escape') {
        removeLastBlockIfEmpty();
      }
      if (
        event.target.tagName !== 'INPUT' &&
        event.key === 'a' &&
        (event.metaKey || event.ctrlKey)
      ) {
        console.log(event);
        event.preventDefault();
        selectAllBlocks();
      }
    });
  }
});

//methods
function setInteract() {
  let positions = {};
  const snapStep = 12;
  const initialOffset = {
    x: 30,
    y: 30,
  };

  const resizableConfig = {
    edges: {
      top: false,
      left: false,
      bottom: false,
      right: true,
    },
    listeners: {
      start: (event) => {
        const block = getBlockById(event.target.dataset.id);
        block.isSelected = true;
      },
      move: (event) => {
        const selectedBlocks = document.querySelectorAll('.block--selected');

        selectedBlocks.forEach((selectedBlock) => {
          const block = getBlockById(selectedBlock.dataset.id);

          const initialWidth = parseInt(block.content.width);
          const addedWidth = event.rect.width;
          const deltaWidth = addedWidth - initialWidth;

          block.content.width = `${initialWidth + deltaWidth}px`;
        });
      },
    },
    modifiers: [
      interact.modifiers.snapSize({
        targets: [
          interact.snappers.grid({
            x: snapStep,
            y: snapStep,
          }),
        ],
      }),
    ],
  };

  const draggableConfig = {
    ignoreFrom: 'h1, h2, h3, h4, h5, p', // enable to select text instead of moving the block
    autoScroll: {
      container: window,
      margin: 100,
      interval: 10,
      speed: 6000,
    },
    listeners: {
      start: (event) => {
        const selectedBlocks = document.querySelectorAll('.block--selected');
        selectedBlocks.forEach((selectedBlock) => {
          selectedBlock.classList.add('prevent-unselect');

          positions[selectedBlock.dataset.id] = {
            x:
              selectedBlock.getBoundingClientRect().x -
              (initialOffset.x - window.scrollX),
            y:
              selectedBlock.getBoundingClientRect().y -
              (initialOffset.y - window.scrollY),
          };
        });
      },
      move: (event) => {
        const selectedBlocks = document.querySelectorAll('.block--selected');

        selectedBlocks.forEach((selectedBlock) => {
          const block = getBlockById(selectedBlock.dataset.id);

          positions[selectedBlock.dataset.id].x += event.dx;
          positions[selectedBlock.dataset.id].y += event.dy;

          block.content.transform = `translate(${
            positions[selectedBlock.dataset.id].x
          }px, ${positions[selectedBlock.dataset.id].y}px)`;
        });
        setSpaceSize('move');
      },
    },
    modifiers: [
      interact.modifiers.snap({
        targets: [
          interact.snappers.grid({
            x: snapStep,
            y: snapStep,
          }),
        ],
      }),
    ],
  };

  interact('.block:not(.edit, .lock)')
    .resizable(resizableConfig)
    .draggable(draggableConfig);
}

function toggleSelectionClasses(targetNode) {
  targetNode.classList.toggle('front');
  targetNode.classList.toggle('block--selected');
}
</script>

<style scoped>
#blocks {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Selection */

#selection {
  position: absolute;
  width: 1000vw;
  height: 1000vh;
}

.block--selected,
.block--edited,
.block--highlight {
  border: calc(var(--border) / 2) solid var(--color-accent);
  outline: calc(var(--border) / 2) solid var(--color-accent);
  z-index: var(--z-index-edit) !important;
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  #blocks {
    width: 100% !important;
    padding-top: 0 !important;
    height: auto !important;
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
