<template>
  <BlockEdition
    v-if="
      (block.type === 'markdown' || block.type === 'code') && block.isEdited
    "
    :block="block"
  ></BlockEdition>
  <div
    v-else-if="isLog || !block.isHidden"
    class="block white"
    :class="[
      'block--' + block.type,
      { edit: block.content.isEdit },
      { flex: block.type === 'options' },
      { 'block--highlight': block.isHighlight },
      { 'block--selected': block.isSelected },
      { 'block--flashing': block.isFlashing },
      { 'hidden--mobile': block.content.isdesktoponly == 'true' },
    ]"
    :data-type="block.type"
    :data-id="block.id"
    :style="
      'width: ' +
      block.content.width +
      '; ' +
      'height: ' +
      block.content.height +
      '; ' +
      'transform: ' +
      block.content.transform +
      '; ' +
      'z-index: ' +
      block.content.zindex +
      ';' +
      'background-color: ' +
      block.content.backgroundcolor +
      ';' +
      'color :' +
      block.content.textcolor +
      ';'
    "
    @mouseup="handleClick"
    @contextmenu="openContextMenu($event, block)"
    ref="blockNode"
  >
    <component
      :is="blocksComponents[capitalizeFirstLetter(block.type) + 'Block']"
      :block="block"
      :id="'block-' + block.id"
    />
    <EditBtns v-if="isLog && block.isSelected" :block="block"></EditBtns>
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import BlockEdition from './edition/BlockEdition.vue';
import EditBtns from './edition/EditBtns.vue';
import MarkdownBlock from './MarkdownBlock.vue';
import ImageBlock from './ImageBlock.vue';
import RepresentativeBlock from './RepresentativeBlock.vue';
import { useUserStore } from '../../stores/userStore.js';
import { useUtilStore } from '../../stores/utilStore.js';
import { useBlockStore } from '../../stores/blocks/blockStore.js';
import { onMounted, ref } from 'vue';
import { useContextMenuStore } from '../../stores/contextMenuStore';

const props = defineProps({
  block: Object,
});

// stores
const { isLog } = storeToRefs(useUserStore());
const { duplicateBlockById, unselectBlocks } = useBlockStore();
const { localBlocks, highestBlock, isEditingABlock } = storeToRefs(
  useBlockStore()
);
const { openContextMenu } = useContextMenuStore();
const { capitalizeFirstLetter } = useUtilStore();

// refs
const blockNode = ref(null);

// state
const blocksComponents = {
  MarkdownBlock,
  ImageBlock,
  RepresentativeBlock,
};

// methods
function handleClick(event) {
  if (event.which === 3 || event.target.tagName === 'INPUT') return;
  // guards
  const isLink = event.target.closest('a');
  const isSelectedText = window.getSelection().toString().length > 0;
  const hasBeenMoved =
    props.block.content.transform !== blockNode.value.style.transform;
  if (isSelectedText || hasBeenMoved || isLink) return;

  selectBlock(event);
  if (event.altKey) {
    duplicateBlockById(props.block.id);
  }
  saveStyle();
}

function saveStyle() {
  if (isEditingABlock.value) {
    if (!blockNode.value) return;
    const actualStyle = blockNode.value.style;
    props.block.content.width = actualStyle.width;
    props.block.content.height = actualStyle.height;
    props.block.content.transform = actualStyle.transform;

    if (props.block.isHighlight === false) {
      props.block.content.zindex = parseInt(actualStyle.zIndex) || 0;
    }
  }
}
async function selectBlock(event) {
  if (!event.ctrlKey && !event.metaKey) {
    await unselectBlocks(event);
  }

  props.block.isSelected = true;
}
</script>

<style scoped>
.block {
  position: absolute;
  font-family: var(--font-family-sans);
  border: calc(var(--border) / 2) solid var(--color-primary);
  outline: calc(var(--border) / 2) solid var(--color-primary);
  background-color: var(--color-secondary);
  overflow-wrap: break-word;
  height: auto !important; /* ? */
}

.block:not(.block--selected) {
  cursor: pointer !important;
}
.block [id^='block-'] {
  scroll-margin-top: 40vh;
}

.block .drag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.block:hover {
  z-index: 999 !important;
}

.front {
  z-index: var(--z-index-edit);
}

.no-select .block {
  user-select: none;
}

/* Rulers */

.grid .block:not(.block--edited)::before,
.grid .block:not(.block--edited)::after {
  content: url("data:image/svg+xml,%3Csvg width='9' height='20' viewBox='0 0 9 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4.5L8 1L1 1L0.999999 4.5L4.5 8L8 4.5Z' fill='white' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  display: flex;
  position: absolute;
  right: -5.5px;
  z-index: var(--z-index-block);
}

.block::before {
  top: calc(0rem - var(--border));
}

.block::after {
  bottom: calc(0rem - var(--border));
  transform: scaleY(-1);
}

/* Options */

.block--options {
  position: relative;
  justify-content: center;
}

.block--options > div {
  position: relative;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
}

.block--options .btn {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
}

/* Flashing */

.block--flashing {
  animation: flash 0.3s infinite;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  .block {
    margin: 0;
    margin-bottom: var(--margin-block);
    outline: none;
    border-right: none;
    border-left: none;
    border-top: var(--border) solid var(--color-primary);
    border-bottom: var(--border) solid var(--color-primary);
    width: 100%;
    transform: translate(0, 0) !important;
    position: static !important;
  }

  .block:not(.block--image) {
    width: 100% !important;
  }

  .block:last-child {
    margin-bottom: 10rem !important;
  }

  .block {
    max-width: 100% !important;
    margin-bottom: var(--padding);
  }

  .block::before,
  .block::after {
    content: '';
  }

  .block:last-child {
    margin-bottom: calc(
      var(--height-btn-mobile) + var(--margin-block)
    ) !important;
  }

  /* Iframes */

  .block iframe {
    display: block;
    margin-bottom: var(--block-padding);
  }

  .block * + iframe,
  .block iframe + * {
    margin-top: var(--block-padding);
  }

  .block iframe:last-child {
    margin-bottom: 0 !important;
  }
}
</style>
