<template>
  <input
    v-if="!block.content.thumb"
    class="input-file"
    type="file"
    ref="uploadBtn"
    accept="image/*"
    @change="handleInputChange"
  />
  <figure v-else>
    <img :src="block.content.thumb" ref="block" alt="" />
    <input
      v-if="isLog && block.isSelected"
      class="caption-field"
      placeholder="Légende (optionnelle)"
      :title="block.content.caption.length === 0 ? 'Champ vide visible uniquement par les utilisateurs connectés.' : ''"
      v-model="block.content.caption"
    ></input>
    <figcaption
      v-else-if="!block.isSelected && block.content.caption.length > 0"
      ref="caption"
      v-html="block.content.caption"
    ></figcaption>
  </figure>
</template>

<script setup>
import { computed, ref } from "vue"
import { useSaveStore } from "../../stores/saveStore.js"
import { useUserStore } from "../../stores/userStore"
import { storeToRefs } from "pinia"
import { useBlockStore } from "../../stores/blocks/blockStore";

// props
const { block } = defineProps({
  block: Object,
})

// stores
const { isLog } = storeToRefs(useUserStore())
const {localUpdate} = useSaveStore()

// template refs
const uploadBtn = ref(null)

// init functions
removeHTMLTagsFromCaption()

// methods
function handleInputChange() {
  const file = uploadBtn.value.files[0]
  const sizeConvertedToOctets =
    file.size > 1_000_000
      ? (file.size / 1_000_000).toFixed(2) + " Mo"
      : (file.size / 1000).toFixed(2) + " Ko"

  if (
    file.size < 200_000 ||
    window.confirm(
      `Attention, vous êtes sur le point de télécharger un fichier lourd (${sizeConvertedToOctets}). Êtes-vous sûr·e ?`
    )
  ) {
  setBase64(file)
  setName(file)
  if (!block.content.iscover) {
    block.content.iscover = false
  }

  block.content.thumb = URL.createObjectURL(file);
  block.isEdited = false
  }
}

function setBase64(file) {
  const reader = new FileReader()
  reader.onloadend = () => {
    const base64String = reader.result.split(",")[1]

    block.b64 = base64String
  }
  reader.readAsDataURL(file)
}

function setName(file) {
  block.content.image = [
    {
      filename: file.name,
    },
  ]
}

function removeHTMLTagsFromCaption() {
  const div = document.createElement('div')
  div.innerHTML = block.content.caption ?? ''
  block.content.caption = div.textContent
  localUpdate()
}
</script>

<style scoped>

.caption-field, figcaption {
  padding: var(--block-padding);
}

.caption-field, 
figcaption,
figcaption p {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
}

/* Button image */

.block--image button#cover {
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
  transform: scale(0.666);
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  .block--image {
    width: auto;
    border: none;
    outline: var(--border) solid var(--color-primary);
  }
}

.caption-field {
  width: 100%;
  padding: var(--block-padding);
  text-overflow: ellipsis;
}

.caption-field:focus-visible {
  border: none !important;
  outline: none !important;
}
</style>
