<template>
  <div
    v-if="block.content.text.length > 0"
    v-html="parsedText"
    ref="contentNode"
  ></div>
  <div v-else ref="contentNode"><p>ctrl + clic droit pour éditer.</p></div>
</template>

<script setup>
import { computed, onMounted, ref } from "vue"
import { marked } from "marked"
import { storeToRefs } from "pinia"
import { useViewStore } from "../../stores/viewStore.js"
import { useBlockStore } from "../../stores/blocks/blockStore.js"

// props
const props = defineProps({
  block: Object,
})

// stores
const { isMobile } = storeToRefs(useViewStore())
const { getBlockById } = useBlockStore()

// template refs
const contentNode = ref(null)

// computed
const parsedText = computed(() => {
  const textWithoutConfig = props.block.content.text
    .replace(/couleur-texte:(#[a-z,A-Z,0-9]+)/, "")
    .replace(/couleur-fond:(#[a-z,A-Z,0-9]+)/, "")
  const regexYoutubeUrls =
    /^(?!\()(?:https:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?.*v=)?(\w+-?\w+?)(?:\&.*)?/gm
  const videoConvertedText = textWithoutConfig.replaceAll(
    regexYoutubeUrls,
    `<iframe width="100%" style="height:${iframeHeight}px" src="https://www.youtube-nocookie.com/embed/$1" frameborder="0" allowfullscreen></iframe>`
  )
  const iframeConverted = videoConvertedText.replaceAll(
    /iframe:(.*)/gm,
    `<iframe width="100%" style="height:${iframeHeight}px" src="$1"></iframe>`
  )

  const renderer = {
    link(href, title, text) {
      if (href.includes(location.host)) {
        return `
              <a href="${href}">${text}</a>
            `
      } else {
        if (text.includes("</i>")) {
          return `
                <a class="no-arrow" href="${href}" target="_blank">${text}</a>
              `
        } else {
          return `
                <a href="${href}" target="_blank">${text}</a>
              `
        }
      }
    },
  }

  marked.use({ renderer })

  marked.setOptions({
    breaks: true,
    smartypants: true,
  })

  return marked.parse(iframeConverted)
})

const iframeHeight = computed(() => parseInt(props.block.content.width) / 1.5)
</script>

<style>
.block--markdown,
.block--code {
  padding: var(--block-padding);
  min-width: calc(var(--padding) * 2);
}

.block--markdown:not(textarea) {
  height: auto !important; /* ? */
}

/* Notes */

.note,
.block li a.note,
.block p a.note {
  margin: 0;
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-semi-bold);
}

.highlight {
  /* Hover notes */
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
}

/* Edit */

textarea {
  position: relative;
  min-width: 304.55px !important;
  min-height: 304.55px;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  padding: var(--block-padding);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-1);
  z-index: var(--z-index-edit);
}
</style>
