<template>
  <div ref="block">
    <div
      v-if="block?.content?.cover?.length > 0"
      class="block--representative__image"
    >
      <figure>
        <img :src="block.content.cover" alt="" />
      </figure>
    </div>
    <div class="block--representative__sum">
      <h3 class="block--representative__heading">
        <a
          :href="block.content.url"
          :title="'Aller à la page ' + block.content.title + '.'"
          :target="setTarget(block.content.url)"
          >{{ block.content.title }}</a
        >
      </h3>
      <p
        v-if="markedIntro"
        class="block--representative_introduction"
        v-html="markedIntro"
      ></p>
      <div
        v-if="block.content.linkedspaces.length > 0"
        class="block--representative__data"
      >
        <ul class="block--representative__list-linked-spaces">
          <li
            v-for="linkedSpace in block.content.linkedspaces"
            class="block--representative__linked-spaces"
          >
            <a :href="linkedSpace.url">{{ linkedSpace.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';

// props
const { block } = defineProps({
  block: Object,
});

// computed
const iframeHeight = computed(() => parseInt(block.content.width) / 1.5);
const markedIntro = computed(() => {
  if (block.content.intro.length === 0) return false;

  // const sum =  !block.content.intro.includes('iframe') && block.content.intro.length > 150 ? block.content.intro.slice(0, 150) + '…' : block.content.intro

  const regexYoutubeUrls =
    /^(?!\()(?:https:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?.*v=)?(\w+)/gm;
  const videoConvertedText = block.content.intro.replaceAll(
    regexYoutubeUrls,
    `<iframe width="100%" style="height:${iframeHeight}px" src="https://www.youtube-nocookie.com/embed/$1" frameborder="0" allowfullscreen></iframe>`
  );
  const iframeConverted = videoConvertedText.replaceAll(
    /iframe:(.*)/gm,
    `<iframe width="100%" style="height:${iframeHeight}px" src="$1"></iframe>`
  );

  marked.setOptions({
    breaks: true,
    smartypants: true,
  });
  let markedIntro = marked.parse(iframeConverted);
  return markedIntro;
});

// methods
function setTarget(url) {
  if (url.includes(location.host)) {
    return false;
  } else {
    return '_blank';
  }
}
</script>

<style>
/* Image */

.block--representative__image,
.block--representative figure {
  position: relative;
}

#blocks.full .block--representative figure img,
#blocks.horizontal .block--representative figure img {
  object-fit: cover;
  max-height: 35vh;
}

#blocks.full .block--representative__image + .block--representative__sum,
#blocks.horizontal .block--representative__image + .block--representative__sum {
  max-height: 40vh;
  overflow-y: scroll;
}

.block--representative__image a {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
}

.block--representative__image a:hover {
  background-color: transparent;
}

/* Summary */

.block--representative__sum {
  padding: var(--block-padding);
}

/* Introduction */

.block--representative_introduction,
.block--representative_introduction h1,
.block--representative_introduction h2,
.block--representative_introduction h3,
.block--representative_introduction h4,
.block--representative_introduction h5 {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-1);
  line-height: var(--line-height-text);
}

/* Data */

.block--representative__data {
  display: flex;
}

.block--representative__data > div {
  width: 100%;
}

.block--representative__data > div > * {
  margin-bottom: var(--padding-btn-slim);
}

/* Linked spaces */

.block--representative__linked-spaces {
  line-height: var(--line-height-text);
  margin-top: var(--margin-text);
}

.block--representative__linked-spaces::first-letter {
  text-transform: uppercase;
}

.block--representative__linked-spaces a {
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3);
}
</style>
