<template>
  <div :class="{ open: isOpen }" class="blocks-sequence">
    <header>
      <button
        class="lock-active"
        @click="isOpen = !isOpen"
        :title="isOpen ? 'fermer' : 'ouvrir'"
      >
        <span>Ordre des blocs</span
        ><span class="arrow">{{ isOpen ? '↑' : '↓' }}</span>
      </button>
    </header>
    <ul>
      <OrderedItem
        v-for="(block, index) in localBlocks"
        :block="block"
        :key="block.id"
      />
    </ul>
  </div>
</template>
<script setup>
import OrderedItem from './OrderedItem.vue';
import { storeToRefs } from 'pinia';
import { useBlockStore } from '../../../stores/blocks/blockStore';
import { ref } from 'vue';

const { localBlocks } = storeToRefs(useBlockStore());
const isOpen = ref(true);
</script>
<style scoped>
.blocks-sequence {
  position: fixed !important;
  top: calc(var(--padding) * 2 + var(--height-btn));
  left: calc(var(--margin-block));
  background-color: #fff;
  overflow: auto;
  max-height: calc(100vh - (4 * var(--padding) + 2 * var(--height-btn)));
  border: var(--border) solid #000;
}
.blocks-sequence:hover {
  z-index: 999;
}
.full .blocks-sequence {
  left: calc(var(--margin-block) + 2.3rem + var(--margin-block));
}
header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

header button {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.blocks-sequence:not(.open) ul {
  height: 0;
}
</style>
