<template>
  <li
    class="blocks-sequence__ordered-item ordered-item"
    @mouseenter="isHovered = true"
    @mouseleave="isHovered = false"
  >
    <a
      :href="'#block-' + block.id"
      title="aller au bloc"
      @click="handleClick()"
      >{{ typeTranslationMap[block.type] }}</a
    >
    <form class="ordered-item__index" @submit="handleSubmit">
      <input
        @focus="block.isSelected = true"
        @blur="block.isSelected = false"
        type="number"
        v-model="localIndex"
        ref="inputNode"
      />
      <button
        :disabled="hasNotIndexChanged"
        title="valider la nouvelle position"
        type="submit"
      >
        ⏎
      </button>
    </form>
  </li>
</template>
<script setup>
import { computed, ref, watch } from 'vue';
import { useBlockStore } from '../../../stores/blocks/blockStore';
import { storeToRefs } from 'pinia';
import { useViewStore } from '../../../stores/viewStore';

const { block, index } = defineProps({
  block: Object,
});

const emit = defineEmits(['set-index']);
const inputNode = ref();

const { setBlockIndex, getBlockIndex, selectBlockById } = useBlockStore();
const { localBlocks } = storeToRefs(useBlockStore());
const { slideIndex, selectedLayout } = storeToRefs(useViewStore());

const typeTranslationMap = {
  markdown: 'texte',
  representative: 'représentant',
  image: 'image',
};

const isHovered = ref(false);
const localIndex = ref(getBlockIndex(block));
const hasNotIndexChanged = computed(() => {
  return localIndex.value === index;
});

watch(
  localBlocks,
  (newValue) => {
    if (getBlockIndex(block) === localIndex.value) return;
    setTimeout(() => {
      localIndex.value = getBlockIndex(block);
    }, 100);
  },
  {
    deep: true,
  }
);

//  Functions
function handleSubmit(event) {
  event.preventDefault();
  block.isSelected = false;
  setBlockIndex(block, localIndex.value);
}

function handleClick() {
  if (selectedLayout.value === 'full') {
    slideIndex.value = getBlockIndex(block);
  } else {
    selectBlockById(block.id);
  }
}
</script>
<style scoped>
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17rem;
}
li:not(:last-child) {
  border-bottom: var(--border) solid #000;
}

.ordered-item__index {
  display: flex;
}

.ordered-item__index > * {
  border-left: var(--border) solid #000;
  padding-left: calc(var(--block-padding) / 2);
  height: 2.9rem;
}

a {
  color: var(--color-accent);
  margin-right: 1rem;
  padding: calc(var(--block-padding) / 2);
}

input {
  width: 2.5rem;
}
</style>
