<template>
  <div id="index-mobile" :class="{ 'no-pointer': isOpen }">
    <div
      v-if="isOpen"
      id="index-mobile__background"
      @click="toggleIsOpen"
    ></div>
    <ul v-if="isOpen" id="menu-mobile">
      <li>
        <span
          class="wrapper"
          :class="{ 'lock-active': isSameUrl(currentSpace) }"
        >
          <button class="text-2 border index__button">
            <a :href="currentSpace.url">tout</a>
          </button>
        </span>
      </li>
      <li
        v-for="(child, childIndex) in currentSpace.children"
        v-if="currentSpace"
      >
        <span
          class="wrapper"
          :class="{ 'lock-active': isUriIncludedInUrl(child) }"
        >
          <button class="text-2 border index__button" tabindex="-1">
            <a
              :href="child.url"
              :title="'Aller à la page ' + child.title + '.'"
              class="index__link"
              :class="{ 'index__link--full': child.children === null }"
              >{{ child.title }}</a
            >
          </button>

          <span
            v-if="child.hasChildren"
            class="menu__arrow | text-2 border"
            tabindex="-1"
          >
            <a
              @click="navTo(child.uri)"
              :title="'Aller à la page ' + child.title + '.'"
            >
              ->
            </a>
          </span>
        </span>
      </li>
    </ul>
    <div
      id="current-section"
      class="| text-2 lock-active"
      :class="{
        'current-section--open': isOpen,
      }"
      title="Chercher une page du site."
      ref="currentSection"
    >
      <button
        v-if="isOpen"
        @click="
          currentSpace.parentUri
            ? navTo(currentSpace.parentUri)
            : toggleIsOpen()
        "
        id="current-section__return"
        class="no-hover border"
      >
        <span class="menu__arrow" v-if="currentSpace.parentUri">&lt;-</span>
      </button>
      <button
        @click="toggleIsOpen"
        id="current-section__title"
        class="text-2 border"
        :class="{
          'current-section__title-active': isOpen,
        }"
      >
        {{ isOpen ? currentSpace.title : "naviguer" }}
      </button>
      <button
        v-if="isOpen"
        @click="toggleIsOpen"
        id="current-section__close"
        class="no-hover border"
      >
        <img id="current-section__close-image" src="/assets/svg/close.svg" />
      </button>
    </div>
  </div>
</template>

<script setup>
import { storeToRefs } from "pinia"
import { computed, ref } from "vue"
import { useIndexStore } from "../../../stores/viewfinder/indexStore.js"
import { useUtilStore } from "../../../stores/utilStore.js"
import { useMobileIndexStore } from "../../../stores/viewfinder/mobileIndexStore.js"
import { useViewfinderStore } from "../../../stores/viewfinder/viewfinderStore.js"

// state
const currentSection = ref(null)

// stores
const { flatIndex } = storeToRefs(useIndexStore())
let { currentSpaceUri } = storeToRefs(useIndexStore())
const { isViewfinderActive } = storeToRefs(useViewfinderStore())
const { isOpen } = storeToRefs(useMobileIndexStore())
const { debounce } = useUtilStore()

// computed
const currentSpace = computed(() => {
  const target = flatIndex.value.find(
    (indexedSpace) => indexedSpace.uri === currentSpaceUri.value
  )
  if (target.children) {
    return target
  } else {
    return flatIndex.value.find(
      (indexedSpace) => indexedSpace.uri === target.parentUri
    )
  }
})

// init
window.addEventListener("scroll", debounce(hideOnScrollDown))

// methods
function toggleIsOpen() {
  document.body.classList.toggle("no-scroll")
  document.querySelector("#app").classList.toggle("no-scroll")
  // document.querySelector(".blocks").classList.toggle("no-scroll")
  isOpen.value = !isOpen.value
}
function navTo(uri) {
  if (!uri) return
  currentSpaceUri.value = uri
}
// check methods
function isSameUrl(space) {
  return (
    space.url === window.location.href ||
    space.url + "/" === window.location.href
  )
}
function isUriIncludedInUrl(space) {
  // means that is current space or parent of the current space
  return window.location.href.includes(space.uri)
}
function hideOnScrollDown() {
  if (isOpen.value) return
  const windowY = window.scrollY
  if (this.scrollPos <= 0) {
    currentSection.value.classList.remove("current-section--hide")
  } else if (windowY < this.scrollPos) {
    // Scrolling UP
    currentSection.value.classList.remove("current-section--hide")
  } else {
    // Scrolling DOWN
    currentSection.value.classList.add("current-section--hide")
  }
  this.scrollPos = windowY
}
</script>

<style lang="scss" scoped></style>
