<template>
  <ul id="index" class="menu top left viewfinder__btn">
    <li>
      <span @click="indexStore.isOpen = !indexStore.isOpen" class="wrapper">
        <button
          id="search"
          class="| text-2 border lock-active"
          title="Chercher une page du site."
          :class="{ 'no-hover': viewStore.isMobile.value }"
        >
          naviguer
        </button>
        <span class="menu__arrow | text-2 border lock-active" tabindex="0"
          >-></span
        >
      </span>
      <IndexLevel
        v-if="indexStore.isOpen"
        :items="indexStore.index"
        :parent="{
          name: '',
          url: '',
        }"
      ></IndexLevel>
    </li>
  </ul>
</template>

<script setup>
import { storeToRefs } from "pinia"
import { useViewStore } from "../../../stores/viewStore.js"
import { useViewfinderStore } from "../../../stores/viewfinder/viewfinderStore.js"
import IndexLevel from "./IndexLevel.vue"

const viewStore = storeToRefs(useViewStore())

const { indexStore } = storeToRefs(useViewfinderStore())
</script>

<style lang="scss" scoped></style>
