<template>
  <ul
    class="index-level"
    :class="{
      'lock-visible': containsActiveCategory && isViewfinderActive,
    }"
  >
    <li v-if="parent.url.length > 0">
      <span
        class="wrapper"
        @mouseover="viewfinderBtnStore.setHoverColor"
        @mouseleave="viewfinderBtnStore.unsetHoverColor"
      >
        <button class="text-2 border" :class="{ 'lock-active': isCurrent }">
          <a :href="parent.url">tout</a>
        </button>
      </span>
    </li>

    <li
      v-for="(category, childIndex) in items"
      v-if="isDesktop || !category.isDesktopOnly"
      class="category"
    >
      <span
        class="wrapper"
        :class="isInBreadcrumb(category.title)"
        @mouseover="viewfinderBtnStore.setHoverColor"
        @mouseleave="viewfinderBtnStore.unsetHoverColor"
      >
        <button
          class="text-2 border index__button"
          :class="[isActive(category.url)]"
          tabindex="-1"
        >
          <a
            :href="category.url"
            :target="defineTarget(category.url)"
            :title="'Aller à la page ' + category.title + '.'"
            class="index__link"
            :class="{ 'index__link--full': category.children === null }"
            >{{ category.title }}</a
          >
        </button>
        <span
          v-if="category.children"
          class="menu__arrow | text-2 border"
          tabindex="-1"
        >
          <a
            @click="
              viewfinderStore.mobileIndexStore.navTo(category.title, $event)
            "
            :href="category.url"
            :title="'Aller à la page ' + category.title + '.'"
          >
            ->
          </a>
        </span>
      </span>
      <IndexLevel
        v-if="category.children"
        :items="category.children"
        :parent="{
          url: category.url,
          name: category.title,
        }"
      ></IndexLevel>
    </li>
  </ul>
</template>

<script setup>
import { storeToRefs } from "pinia"
import { useViewfinderStore } from "../../../stores/viewfinder/viewfinderStore.js"
import { computed } from "vue"
import { useViewStore } from "../../../stores/viewStore.js"

// props
const props = defineProps({
  items: Array,
  parent: Object,
})

// stores
const { currentSpaceName, isViewfinderActive } = storeToRefs(
  useViewfinderStore()
)
const { indexStore, viewfinderBtnStore } = useViewfinderStore()
const { isDesktop } = storeToRefs(useViewStore())

// computed
const containsActiveCategory = computed(() => {
  const containsActiveCategory = props.items.some((category) => {
    return indexStore.breadcrumb.includes(category.title.toLowerCase())
  })
  return containsActiveCategory
})
const isCurrent = computed(() => {
  return props.parent.name === currentSpaceName
})

// functions
function isInBreadcrumb(category) {
  if (category.toLowerCase() === "accueil") return false
  if (indexStore.breadcrumb.includes(category.toLowerCase())) {
    return "lock-active"
  }
}
function isActive(url) {
  if (url + "/" === window.location.href) {
    return "active"
  }
}
function defineTarget(url) {
  if (url.includes(window.location.host)) {
    return
  } else {
    return "_blank"
  }
}
</script>

<style lang="scss" scoped></style>
