<template>
  <ul
    id="context-menu"
    :style="`left:${position.left}px;top:${position.top}px`"
  >
    <!-- uncomment after implementing functions -->
    <template v-for="option in options" :key="option.label">
      <li
        v-if="
          option.concernedBlocks.includes(target.type) &&
          option.condition(target)
        "
      >
        <button
          class="context-menu__button| border prevent-unselect"
          @click="handleContextMenuFunction(option.functionName)"
        >
          {{ option.label }}
        </button>
      </li>
    </template>
  </ul>
</template>

<script setup>
import { ref } from 'vue';
import { useBlockStore } from '../stores/blocks/blockStore';
import { storeToRefs } from 'pinia';
import { useContextMenuStore } from '../stores/contextMenuStore';
import { useUserStore } from '../stores/userStore';

const options = [
  {
    label: 'supprimer',
    functionName: 'removeBlockById',
    concernedBlocks: ['markdown', 'code', 'image'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: 'dupliquer',
    functionName: 'duplicateBlockById',
    concernedBlocks: ['markdown', 'image'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: 'éditer',
    functionName: 'editBlockById',
    concernedBlocks: ['markdown'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: 'placer devant',
    functionName: 'upper',
    concernedBlocks: ['image', 'markdown', 'representative'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: 'placer au premier plan',
    functionName: 'upperMax',
    concernedBlocks: ['image', 'markdown', 'representative'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: 'placer derrière',
    functionName: 'lower',
    concernedBlocks: ['image', 'markdown', 'representative'],
    condition: function (target) {
      return target.content.zindex > 0;
    },
  },
  {
    label: 'placer au dernier plan',
    functionName: 'lowerMax',
    concernedBlocks: ['image', 'markdown', 'representative'],
    condition: function (target) {
      return target.content.zindex > 0;
    },
  },
  {
    label: 'définir comme couverture',
    functionName: 'setAsCoverById',
    concernedBlocks: ['image'],
    condition: (target) => {
      return (
        isLog.value &&
        (target.content.iscover === 'false' || target.content.iscover === false)
      );
    },
  },
  {
    label: 'révoquer comme couverture',
    functionName: 'unsetAsCoverById',
    concernedBlocks: ['image'],
    condition: (target) => {
      return (
        isLog.value &&
        (target.content.iscover == 'true' || target.content.iscover == true)
      );
    },
  },
  {
    label: 'définir comme introduction',
    functionName: 'setAsIntroById',
    concernedBlocks: ['markdown'],
    condition: (target) => {
      return true;
    },
  },
  {
    label: 'révoquer comme introduction',
    functionName: 'unsetAsIntroById',
    concernedBlocks: ['markdown'],
    condition: (target) => {
      return (
        isLog.value &&
        (target.content.isintro == 'true' || target.content.isintro == true)
      );
    },
  },
  {
    label: 'supprimer tous les blocs',
    functionName: 'removeAllBlocks',
    concernedBlocks: ['viewfinder'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: "réinitialiser l'espace",
    functionName: 'reset',
    concernedBlocks: ['viewfinder'],
    condition: function (target) {
      return true;
    },
  },
  {
    label: 'supprimer les blocs sélectionnés',
    functionName: 'removeSelectedBlocks',
    concernedBlocks: ['selection'],
    condition: function (target) {
      return true;
    },
  },
];

// stores
const { position, target } = storeToRefs(useContextMenuStore());
const blockStore = useBlockStore();
const isLog = storeToRefs(useUserStore());

function handleContextMenuFunction(functionName) {
  blockStore[functionName](target.value.id);
}
</script>

<style scoped>
#context-menu {
  position: absolute;
  z-index: 999;
  pointer-events: all;
  margin-top: 0 !important;
}

.context-menu__button\|.border.prevent-unselect {
  font-size: var(--font-size-4);
  height: var(--height-btn-slim);
  padding: 0 var(--padding-btn-slim);
}
</style>
