<template>
  <button
    class="viewfinder__btn | text-2 border"
    @click="cancelLocalModifications"
  >
    annuler
  </button>
</template>
<script setup>
import { onMounted, onUnmounted } from 'vue';
import { useBlockStore } from '../../stores/blocks/blockStore';

const { cancelLocalModifications } = useBlockStore();

onMounted(() => {
  window.addEventListener('keydown', handleKeyDown);
});

onUnmounted(() => {
  window.removeEventListener('keydown', handleKeyDown);
});

function handleKeyDown(event) {
  if ((event.metaKey || event.ctrlKey) && event.key === 'z') {
    cancelLocalModifications();
  }
}
</script>
<style scoped>
button {
  margin-left: var(--padding-btn);
}
</style>
