<template>
  <div id="slide-nav" class="viewfinder__section viewfinder__btn">
    <button
      id="slide-nav__switch--prev"
      class="slide-nav__switch menu__arrow | border prevent-viewfinder-layer lock-active text-2"
      ref="prevNode"
      @click="prev"
    >
      &lt;-
    </button>
    <button
      id="slide-nav__switch--next"
      class="slide-nav__switch menu__arrow | border prevent-viewfinder-layer lock-active text-2"
      ref="nextNode"
      @click="next"
    >
      ->
    </button>
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useViewStore } from '../../stores/viewStore.js';
import { useBlockStore } from '../../stores/blocks/blockStore.js';
import { useUtilStore } from '../../stores/utilStore.js';
import { onMounted, ref } from 'vue';

const { slideIndex } = storeToRefs(useViewStore());
const { localBlocks } = storeToRefs(useBlockStore());
const { addTemporaryClass } = useUtilStore();

// template refs
const prevNode = ref();
const nextNode = ref();

// hooks
onMounted(() => {
  document.addEventListener('keydown', (event) => {
    if (event.key === 'ArrowLeft' || event.key === 'PageUp') {
      addTemporaryClass(prevNode.value, 'selected', 100);
      prev();
    }
    if (event.key === 'ArrowRight' || event.key === 'PageDown') {
      addTemporaryClass(nextNode.value, 'selected', 100);
      next();
    }
  });
});

// methods
function prev() {
  if (slideIndex.value === 0) {
    slideIndex.value = localBlocks.value.length - 1;
  } else {
    slideIndex.value--;
  }
}
function next() {
  if (slideIndex.value === localBlocks.value.length - 1) {
    slideIndex.value = 0;
  } else {
    slideIndex.value++;
  }
}
</script>

<style lang="scss" scoped></style>
