<template>
  <button
    class="viewfinder__btn | text-2 border"
    title="Enregistrer la page actuelle."
    @click="saveSpace"
    ref="registerBtnNode"
  >
    enregistrer
  </button>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useSaveStore } from '../../stores/saveStore.js';

// stores
const { saveSpace } = useSaveStore();
const { registerBtnNode } = storeToRefs(useSaveStore());

document.addEventListener(
  'keydown',
  (event) => {
    const isMac = /Mac/.test(navigator.userAgent);
    if ((isMac ? event.metaKey : event.ctrlKey) && event.key == 's') {
      event.preventDefault();
      saveSpace();
    }
  },
  false
);
</script>
