<template>
  <div
    id="viewfinder"
    ref="viewfinder"
    :class="{ active: isViewfinderActive, 'all-pointer': isViewfinderActive }"
    @click="disable($event)"
  >
    <div v-if="isDesktop" id="viewfinder__top" class="viewfinder__section">
      <Index @click="unselectBlocks()"></Index>
      <Tune @click="unselectBlocks()"></Tune>
    </div>

    <div id="viewfinder__middle">
      <PrevNext v-if="selectedLayout === 'full'"></PrevNext>
    </div>

    <div id="viewfinder__bottom" class="viewfinder__section">
      <div class="empty" style="width: 9rem"></div>
      <div
        class="flex"
        v-if="!isEditingABlock && (!isUpToDate || isFeedbackMessageDisplayed)"
      >
        <Register></Register>
        <CancelBtn v-if="!isFeedbackMessageDisplayed" />
      </div>
      <Modify v-if="isLog" @click="unselectBlocks($event)"></Modify>
    </div>
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useViewfinderStore } from '../../stores/viewfinder/viewfinderStore.js';
import { useViewStore } from '../../stores/viewStore.js';
import { useSaveStore } from '../../stores/saveStore.js';
import { onMounted, onUnmounted, ref } from 'vue';
import { useBlockStore } from '../../stores/blocks/blockStore.js';
import { useUserStore } from '../../stores/userStore.js';
import Index from './index/Index.vue';
import Tune from './tune/Tune.vue';
import PrevNext from './PrevNext.vue';
import Register from './Register.vue';
import Modify from './modify/Modify.vue';
import CancelBtn from './CancelBtn.vue';

// stores
const { isLog } = storeToRefs(useUserStore());
const { isViewfinderActive } = storeToRefs(useViewfinderStore());
const { isDesktop, selectedLayout } = storeToRefs(useViewStore());
const { isUpToDate, isFeedbackMessageDisplayed } = storeToRefs(useSaveStore());
const { isEditingABlock } = storeToRefs(useBlockStore());
const { unselectBlocks } = useBlockStore();

const viewfinder = ref();

// shortcuts
onMounted(() => {
  window.addEventListener('keyup', closeViewfinderOnEscape);
});
onUnmounted(() => {
  window.removeEventListener('keyup', closeViewfinderOnEscape);
});

// functions
function closeViewfinderOnEscape(event) {
  if (event.key === 'Escape') {
    isViewfinderActive.value = false;
  }
}

function disable(event) {
  if (!isViewfinderActive.value) return;
  const guardTagList = ['BUTTON', 'A', 'LABEL', 'INPUT'];
  if (guardTagList.includes(event.target.tagName)) return;
  isViewfinderActive.value = false;
}
</script>

<style>
/* viewfinder */

/* Sub menu */

.lock-visible {
  display: block !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lock-visible--flex {
  display: flex !important;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.3;
}

/* Index */

#viewfinder {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-index-viewfinder);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#viewfinder:not(.active) {
  pointer-events: none;
}

#viewfinder.active {
  background-color: rgba(var(--color-primary-rgb), 0.5);
}

#viewfinder input[type='radio'],
#viewfinder input[type='radio']::before {
  display: none;
}

.viewfinder__section {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
}

.viewfinder__btn {
  pointer-events: all;
}

#viewfinder a {
  font-weight: var(--font-weight-semi-bold) !important;
}

.viewfinder__section--mobile {
  display: none;
}

#viewfinder__bottom {
  justify-content: space-between;
}

/* Menu */

ul.menu,
.menu ul,
.menu form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  position: relative;
}

.menu__arrow {
  z-index: 1;
  font-family: var(--font-family-code);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: var(--height-btn);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pin {
  width: 1rem;
  height: 1rem;
  position: absolute;
}

.pin--bottom {
  bottom: 1rem;
  left: calc(50vw - 1rem);
}

.menu li {
  display: flex;
  align-items: flex-start;
  position: relative;
  background: var(--color-secondary);
}

.menu li > span {
  cursor: pointer;
  pointer-events: all;
  display: flex;
}

.menu li > ul,
.menu li > form,
.menu li > form > ul {
  display: none;
  position: absolute;
}

ul.lock-visible {
  z-index: 2;
}

.menu li:hover {
  z-index: 3;
}

/* .menu li:hover > span > button,
.menu li:hover > span > span {
  background: var(--color-primary);
  color: var(--color-secondary) !important;
} */

.menu li:hover > ul,
.menu li:hover > form,
.menu li:hover > form > ul {
  display: flex;
}

.menu.top li {
  width: max-content;
  height: 100%;
  max-height: 2.8125rem;
}

.menu li > a {
  padding: 0.5rem 1rem;
}

.menu.bottom ul,
.menu.bottom form,
.menu.bottom li {
  flex-direction: column-reverse;
}

.menu.right ul,
.menu.right form {
  align-items: flex-end;
}

.menu.right li > ul {
  right: 100%;
}

.menu.right li > span {
  flex-direction: row-reverse;
}

.menu.left li > ul,
.menu.left li > form {
  left: 100%;
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  .viewfinder__section {
    display: none;
  }

  .viewfinder__section--mobile {
    display: flex;
    padding: 0;
    pointer-events: all;
  }

  #index-mobile {
    pointer-events: all;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #index-mobile__background {
    position: fixed;
    z-index: calc(var(--z-index-viewfinder) - 1);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    opacity: 0.3;
  }

  #menu-mobile {
    position: fixed;
    width: 100vw;
    bottom: 3rem;
    overflow-y: auto;
    background-color: var(--color-secondary);
    min-height: var(--height-btn-mobile);
    max-height: calc(100% - var(--height-btn-mobile));
    z-index: var(--z-index-menu);
    padding-top: calc(var(--border) / 2);
    pointer-events: all;
  }

  #menu-mobile li button:hover,
  #menu-mobile li span a:hover,
  button:not(.no-hover):hover + span,
  #menu-mobile li span:hover {
    color: var(--color-primary) !important;
    background-color: #fff !important;
    border-color: var(--color-primary) !important;
    outline-color: var(--color-primary) !important;
  }

  #current-section {
    position: fixed;
    bottom: 0;

    pointer-events: all !important;
    display: flex;

    width: 100%;
    z-index: var(--z-index-viewfinder);

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .current-section--hide {
    bottom: calc(0px - var(--height-btn-mobile)) !important;
  }

  #viewfinder .border {
    border-right: none;
    border-left: none;
  }

  #current-section__return,
  .current-section__title-active,
  #current-section__close {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent);
    outline-color: var(--color-accent);
  }

  .menu__arrow,
  #current-section__return,
  #current-section__close {
    min-width: var(--height-btn-mobile);
    font-size: var(--font-size-1);
  }

  #current-section__close-image {
    width: 0.6rem;
  }

  .index__button,
  #current-section__title {
    display: block;
    width: 100%;
  }

  .index__button,
  .index__link,
  #current-section__title {
    overflow: hidden;
  }

  .index__button,
  #current-section__title {
    white-space: nowrap;
  }

  .index__link,
  #current-section__title {
    text-overflow: ellipsis;
  }

  .wrapper {
    display: flex;
  }

  .index__button {
    text-align: left;
    color: inherit;
  }

  #current-section__title {
    text-align: center;
  }

  .unvisible {
    visibility: hidden !important;
    pointer-events: none !important;
  }
}
</style>
