<template>
  <Viewfinder v-if="isDesktop"></Viewfinder>
  <IndexMobile v-else></IndexMobile>
  <main class="main" role="main">
    <h1 class="hidden">{{ indexStore.currentSpaceName }}</h1>
    <Blocks v-if="localBlocks.length"></Blocks>
    <ContextMenu v-if="contextMenuStore.isOpen"></ContextMenu>
  </main>
</template>

<script setup>
import Viewfinder from './components/viewfinder/Viewfinder.vue';
import IndexMobile from './components/viewfinder/index/IndexMobile.vue';
import Blocks from './components/blocks/Blocks.vue';
import ContextMenu from './components/ContextMenu.vue';
import { useViewfinderStore } from './stores/viewfinder/viewfinderStore.js';
import { useViewStore } from './stores/viewStore.js';
import { usePolyfillsStore } from './stores/polyfillsStore.js';
import { useBlockStore } from './stores/blocks/blockStore.js';
import { storeToRefs } from 'pinia';
import { useUserStore } from './stores/userStore.js';
import { useContextMenuStore } from './stores/contextMenuStore.js';
import { onMounted, onUnmounted } from 'vue';

//stores
const { updateDevice, setDevice, setSpaceSize } = useViewStore();
const { isDesktop, isOpenSpace, selectedLayout } = storeToRefs(useViewStore());
const contextMenuStore = useContextMenuStore();
const { serverBlocks, localBlocks } = storeToRefs(useBlockStore());
const { removeLastBlockIfEmpty, unselectBlocks } = useBlockStore();
const { setPolyfills } = usePolyfillsStore();
const { indexStore, enableDragToScroll } = useViewfinderStore();
const { isViewfinderActive } = storeToRefs(useViewfinderStore());
const userStore = useUserStore();

// init
setPolyfills();
storeKirbyVariables();
setDevice();
enableDragToScroll();
serverBlocks.value = JSON.parse(JSON.stringify(blocks));
localBlocks.value = JSON.parse(JSON.stringify(blocks));
setTimeout(() => {
  setSpaceSize();
}, 100);

// adapt
onMounted(() => {
  window.addEventListener('resize', updateDevice);
  if (userStore.isLog) {
    document.querySelector('#app').classList.add('grid');
  }
});

onUnmounted(() => {
  window.removeEventListener('resize', updateDevice);
});

// methods
function storeKirbyVariables() {
  indexStore.index = index;
  indexStore.flatIndex = flatIndex;
  indexStore.breadcrumb = breadcrumb;
  indexStore.currentSpaceName = spaceName;
  indexStore.currentSpaceUri = spaceUri;
  userStore.isLog = isLog;
  isOpenSpace.value = isOpenSpace;
}
</script>

<style lang="scss" scoped></style>
