@import "assets/css/praticable-css/style.css";

#app {
  pointer-events: none !important;
  padding: 0 !important;
}

main {
  padding: var(--padding);
  pointer-events: all;
  width: 100%;
  height: 100%;
}

#blocks {
  pointer-events: all;
  width: 100%;
  height: 100%;
}
